* {
  margin: 0;
  padding: 0;
}
.toolbox-cont {
  background-color: #4b4b4b;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 10px;
}

.toolbox-filter-colors {
  background-color: #323232;
  height: 3.5rem;
  width: 18rem;
  margin-left: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
}

.toolbox-action-btn {
  background-color: #323232;
  height: 3.5rem;
  width: 12rem;
  margin-left: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: space-evenly;
}

.toolbox-action-btn :hover {
  color: black;
}

.color-box {
  height: 1.5rem;
  width: 3rem;
  background-color: black;
}

.light-pink {
  background-color: lightpink;
}

.light-blue {
  background-color: lightblue;
}

.light-green {
  background-color: lightgreen;
}

.black {
  background-color: black;
}

.add-btn {
  width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  cursor: pointer;
  color: #fff;
}

.remove-btn {
  width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
}

/* modal-container */

.modal-cont {
  height: 50vh;
  width: 45vw;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 30%;
  left: 27%;
  display: none;
}

.text-area {
  width: 75%;
  height: 100%;
  background-color: lightgray;
  margin: auto;
  resize: none;
  border: none;
}

.priority-color-cont {
  background-color: #424242;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.priority-color {
  height: 3rem;
  width: 6rem;
}

/* ticket Design */

.main-cont {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}

.ticket-cont {
  height: 12rem;
  width: 15rem;
  background-color: coral;
}

.ticket-color {
  background-color: black;
  height: 1.5rem;
}

.ticket-id {
  background-color: yellow;
  height: 2rem;
}
